.Header {
  display: flex;
  margin-bottom: 20px;
  height: 60px;
  border-bottom: 1px solid #c0c0c0;

  .MuiAppBar-colorPrimary {
    background-color: #e6e6e6;
  }
  .space {
    flex-grow: 1;
  }

  .MuiPaper-elevation4 {
    box-shadow: none;
  }

  .MuiIconButton-label {
    color: #505050;
  }

  .face-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .welcome {
    color: #505050;
  }
}
